.container {
    width: 280px;
    color: #314d3e;
    color-scheme: dark;
    
  }

#countMsg {
    color: white;
}

.title {
    font-size: 14px;
    font-weight: bold;
    padding: 8px;
    color: white;
}

#play {
    font-size: 20px;
    padding: 10px;
}

#audio {
    font-size: 10px;
    padding: 5px;
}

body {
    background-color: #27282c;
}

#text {
    background-color: #27282c;
}